@import url(font-awesome.min.css);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

/* body: Contiene toda la pagina de productos */
body{
    position: relative;
    padding-bottom: 20em;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img, svg, a, button, span{
    cursor: pointer;
}
/* a: links */
a{
    text-decoration: none; /* Borrar subrayado */
    /* color: aliceblue; */ /* por definir */
}

/* Configuracion del container (global):
    -El width se ajusta a 900px para evitar que se estire hasta los bordes > 900px
    -El max-width se ajusta a un 95% del ancho visible en pantalla (ancho max 900px)
    -El margin es definido automatico para dividir el espacio sobrante de manera equitativa en el lado derecho e izquierdo
    -El texto es tiene una alineacion central predeterminada
    -El padding-top es 10px fijo 
    (OPC) - Agregar delay de 0.5s (o mas) al cambiar (usuario) el width del contenedor
*/
.container {
    width: 100%;
    height: 100%;
    max-width:95vw;
    margin: auto;
    text-align: center;
    padding-top: 1em;/* 
    transition: 0.5s ease-out; */
}

/* Configuracion de la barra principal:
    -Display: flex permite mover la posicion de los elementos (boton pagina principal/icono carrito)
    -Se genera un espacio entre los elementos con el width restante
    -Los elementos tienen una alineacion central predeterminada
    (OPC) -padding-top 10px fijo
*/
header{
    display: grid;
    grid-template-columns: 10em 2em 2em;
    justify-content: space-between;
    align-items: center;
}
.banner{
    display: flex;
    transform: translateY(0.5em);
    height: 1.5em;
    width: 100%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    font-style: italic;
    border-style: solid;
    background-color: rgb(96, 180, 66);
    border-color: rgb(96, 180, 66);
    color: white;
}
/* .banner img{
    position: relative;
    height: 1em;
    width: 100%;
} */

/* Configuracion del icono de buscar */
.icon-search{
    position: relative;
    right: -0.5em;
    height: 30px;
    align-items: center;
    bottom: 1.5px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(231, 228, 228);
    display: grid;
    width: 17em;
    grid-template-columns: 2em 15em;
}
.icon-search img{
    height: 1.8em;
    position: absolute;
    bottom: 1px;
    left: 1%;
}
.icon-search input{
    /* position: relative; */
    /* top: 7px; */
    background-color: white;
    border-radius: 10px;
    /* padding: 9px; */
    border: none;
    outline: none;
    background: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size:20px;
    font-style:normal;
}
.icon-search ::placeholder{
    color:  rgb(231, 228, 228);
}


/* Configuracion de icono buscar expandido al maximo */
/* body.openSearchbarON .icon-search{
    grid-template-columns: 2em 35em;
    transition: 0.5s;
} */
.icon-home{
    position: relative;
    width: 10em;
    right: 8em;
}
.icon-home img{
    width: 10em;
}

/* Configuracion del "boton" 'Volver a pagina principal':
    -La imagen SVG tendra una posicion relativa para poder posicionar el display de items sobre ella (posicion absoluta)
*/


/* Configuracion del icono del carrito:
    -Posicionado 10px a la izquierda (Mejora visibilidad a menor width)
    -La imagen SVG tendra una posicion relativa para poder posicionar el display de items sobre ella (posicion absoluta)

    -El contenedor del display de items tendra un fondo rojo (Simular efecto de notificacion)
    -Se aplica flex al contenedor del display (para centrar contenido) y se posiciona en la parte superior derecha del icono SVG. Borde del 50% (circular)
*/
.icon-cart{
    height: 33px;
    width: 6em;
    left: -4em;
    position: relative;
    justify-content: center;
}
.icon-cart img{
    width: 4em;
}
.icon-cart span{
    position: absolute;
    top: 9px;
    right: 13px;
    width: 40px;    
    height: 15px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Configuracion contenedor del carrito:
    -fuente color blanco, fondo "azul marino"
    -Posicion fija a la ventana del navegador (o mobile) en posicion 0, 0, 0derecha
    -Display de grid para separar los elementos, se dividen los en 3 filas con tamaños distintos segun su posicion: titulo (50px), items del contenedor (1fr - restante), botones (50px compartidos)

    -El titulo tendra un padding a la izquierda/arriba de 10px y no tendra margin
    (OPC) -Aplicar padding global de 20px

    -Aplicar overflow automatico a la lista de productos, si se agregan muchos (excediendo la altura maxima 300px (1fr-50px-50px) aparecera una barra de desplazamiento para navegar productos)
    -Tamaño de la barra de desplazamiento reducido a 0 para mejor visualizacion

    -Display grid para separar los botones y en 2 columnas distintas de igual tamaño cada una (1fr)
        -El borde de cada boton es eliminado, su fondo es distinto y su fuente en negrita (bold)    -   NOTA: EL TAMAÑO DE EL BOTON CERRAR X2 FINALIZAR
*/
.cartContainer{
    background-color: #00204a;
    color: white;
    width: 300px;
    max-width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
}
.cartContainer h1{
    /* padding-top: 10px;
    padding-left: 20px; */
    font-size:medium;
    padding: 20px;
    margin: 0
}
.cartContainer .cartList{
    overflow: auto;
}
/* Tamaño de barra de desplazamiento al minimo */
.cartContainer .cartList::-webkit-scrollbar{
    width: 0;
}
.cartContainer .btn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.cartContainer .btn .btn-close{
    background-color: rgb(52, 100, 204);
    border: none;
    font-weight: bold;
}
.cartContainer .btn .btn-finish{
    background-color: rgb(186, 221, 245);
    border: none;
    font-weight: bold;
}

/* Configuracion abrir/cerrar carrito:
    -Barra movida a la derecha 400px (oculta completamente) de forma predeterminada
    -Contenido del contenedor principal movido 250px a la izquierda al abrir el carrito
*/
.cartContainer{
    right:-400px;
}
body.cartContainerON .cartContainer{
    right: 0;
    transition: 0.5s;
}
body.cartContainerON .container{
    transform: translateX(-250px);
    transition: 0.5s;
}

/* body.cartContainerON footer{
    transform: translateX(-250px);
    transition: 0.5s;
}*/

/* El contenido del pie de pagina sobrepone al del carrito de compras, por lo tanto al tener abierto el carrito el pie de pagina no sera visible */
body.cartContainerON footer{
    visibility: hidden;
}
body.cartContainerON .pagination{
    visibility: hidden;
}

.sectionsList{
    position: flex;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    text-align: center;
    column-gap: 3em;
    row-gap: 0.5em;
    margin: 0 auto;
    transform: translateY(2em);
}
.sectionsList img{
    width: 100%;
}


/* Posible cambiar numero de columnas, espacio top,bot,left,right entre categorias/subcategorias/productos (individual o global) */
.productsList{
    /* Posible cambiar numero de columnas, espacio top,bot,left,right entre productos (individual o global) */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 10px;
    column-gap: 2em;
    row-gap: 10px;
}
.productsList .item .categories{
    display: grid;
    grid-template-rows: 1fr 1em;
    row-gap: 2em;
    justify-items: center;
}
.productsList .item .categories a{
    width: 100%;
    height: 1.5em;
    text-align: center;
    background-color: #aaa1a1;
    border-radius: 10px;
    border-style: solid;
    font-weight: bold;
    color: white;
}
.productsList .item .subcategoriesContainer{
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(231, 228, 228);
    padding: 0.5em 0 0.5em 0;
    display: grid;
    border-left: 1;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.productsList .item .product-content{
    display: grid;
    grid-template-columns: 70px 0.8fr;
    column-gap: 2em;
    justify-content: center;
    align-items: center;
}

.productsList .item .quantities{
    display: grid;
    grid-template-columns: 20px 60px 20px;
    height: 20px;
    justify-content: center;
    align-self: center;
}

.productsList .item .quantities .quantity-cart{
    text-align: center;
}

.productsList img{
    width: 80%; /* width */
    /* Posible cambiar width, agregar fondo, sombra */
    /* filter: drop-shadow(...); */ /* sombra */
}
.productsList .item h2{
    font-size: 70%;
    /* Posible cambiar fuente, fondo para titulos, size */
}
.productsList .item button{
    background-color: #2F2F2F;
    justify-content: center;
    align-items: center;
    color: #eee;
}
/* body.openSearchbarON .icon-search{
    transition: 0.5s;
} */

.pagination{
    position: absolute;
    width: 100%;
    bottom: 13em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

/* TEST 1: MODIFICAR Y EXPLICAR -  Productos en el carrito */
.cartList .item img{
    width: 80%;
}
.cartList .item{
    display: grid;
    grid-template-columns:70px 70px 150px 70px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.cartList .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.cartList .quantity .delete{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #e93030;
    border-radius: 50%;
    color: #000000;
    cursor: pointer;
}
.cartList .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.cartList .quantity{
    display: flex;
}
.cartList .item:nth-child(even){
    background-color: #eee1;
}

/* TEST 1: MODIFICAR Y EXPLICAR -   Ventana de detalles de productos */

.detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    text-align: left;
    padding-top: 2em;
}
.detail .image img{
    width: 80%;
}
.detail .image{
    position: relative;
}
.detail .name{
    font-size: xxx-large;
    padding: 40px 0 0 0;
    margin: 0 0 10px 0;
}
.detail .buttons{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.detail .buttons button{
    background-color: #eee;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    font-family: Poppins;
    font-size: large;
}
.detail .buttons svg{
    width: 15px;
}
.detail .buttons span{
    background-color: #555454;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 20px;
}
.detail .buttons button:nth-child(2){
    background-color: #2F2F2F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    box-shadow: 0 10px 20px #2F2F2F77;
}
.detail .description{
    font-weight: 300;
    padding: 20px 0 20px 20px;
}

/* Footer */
#footer{
    /* 
    POSICION
    */
    position: absolute;
    width: 100%;
    /* height: 127px; */
    bottom: 0;
    background-color:rgb(230, 230, 230);
    text-align: center;
    border-image-repeat:stretch;
    padding-top: 1em;
}

#footer .copyright {
    background-color: rgb(230, 230, 230);
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9em;
    padding: 1em 0 1em 0;
    text-align: center;
    align-items: center;
    border-bottom: none;
    font-weight: 700;
    text-decoration: none;
}

#footer ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(214, 214, 214);
}
#footer .inner{
    display: grid;
    grid-template-columns: 32px 1fr 32px;
    width: 90%;
    margin: auto;
}

.box-left, .box-right{
    width: 2em;
    height: 3em;
    background-color: rgb(214, 214, 214);
    margin-top: 1em;
    margin-bottom: 1em;
}

.box-left{
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}

.box-right{
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}

#footer ul .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color: white;
    text-transform: none !important;
    font-size: 1.5em;
    display: block;
    width: 1em;
    height: 1em;
    line-height: 1em;
}

#footer ul .icon > .label {
    display: none;
}

#footer ul .icon{
    display: block;
    background-color: rgb(26, 119, 66);
    border-radius: 100%;
    padding: 0.5em;
    border: solid 1px rgb(26, 119, 66);
    color: rgba(132, 233, 132, 0.25);
}

#footer li{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    font-style: italic;
    color: rgb(51, 51, 51);
    column-gap: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #footer ul a:hover {
    background-color:burlywood ;
    color: #FFF;
} */

/* desktop */
@media only screen and (max-width: 2120px) {
    .productsList{
        grid-template-columns: repeat(4, 1fr);
    }
    .productsList img{
        width: 70%;
    }
    body.openSearchbarON .icon-search{
        width: 33em;
        grid-template-columns: 2em 30em;
        transition: 0.5s;
    }
}

@media only screen and (max-width: 1366px) {
    .productsList{
        grid-template-columns: repeat(3, 1fr);
    }
    body.openSearchbarON .icon-search{
        width: 23em;
        grid-template-columns: 2em 19em;
        transition: 0.5s;
    }
}
@media only screen and (max-width: 1000px) {
    body.openSearchbarON .icon-search{
        width: 17em;
        grid-template-columns: 2em 14em;
        transition: 0.5s;
    }
}
/* mobile */
@media only screen and (max-width: 768px) {
    .productsList{
        grid-template-columns: repeat(2, 1fr);
    }
    .detail{
        text-align: center;
        grid-template-columns: 1fr;
    }
    /* .detail .image img{
        width: unset;
        height: 40vh;
    }  */
    .detail .name{
        font-size: x-large;
        margin: 0;
    }
    .detail .buttons button{
        font-size: small;
    }
    .detail .buttons{
        justify-content: center;
    }
    .icon-search{
        width: 9em;
        grid-template-columns: 2em 6em;
        transition: 0.5;
    }
    body.openSearchbarON .icon-search{
        width: 27em;
        grid-template-columns: 2em 24em;
        transition: 0.5s;
    }
    body.openSearchbarON .icon-home{
        visibility: hidden;
        transition: 0.5;
    }
    #footer ul{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .box-left, .box-right{
        width: 2em;
        height: 6em;
        background-color: rgb(214, 214, 214);
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

@media only screen and (max-width: 595px) {
    .productsList img{
        width: 60%;
    }
    .productsList{
        grid-template-columns: repeat(1, 1fr);
        transition: 0.5s;
    }
    .icon-search{
        width: 8em; 
        grid-template-columns: 2em 5em;
        transition: 0.5;
    }
    body.openSearchbarON .icon-search{
        width: 18em;
        grid-template-columns: 2em 15em;
        transition: 0.5s;
    }
}

@media only screen and (max-width: 472px) {
    .icon-home{
        transform: translateX(60px);
        width: 45px;
        height: 47.36px;
    }
    .icon-home img{
        width: 100%;
        height: 47.36px;
        object-fit: cover;
        object-position:left;
    }
    body.openSearchbarON .icon-cart{
        visibility: hidden;
        transition: 0.5;
    }
}