@import url(font-awesome.min.css);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

/* body: Contiene toda la pagina de productos */
body{
    position: relative;
    padding-bottom: 20em;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* svg: Imagenes svg - header .icons iconos de home/search */
header img{
    width: 2em; /* tamaño 30px */
    cursor: pointer; /*Cambiar cursor sobre icono SVG (solo hay un SVG: icono carrito)*/
}

svg{
    width: 2em; /* tamaño 30px */
    cursor: pointer; /*Cambiar cursor sobre icono SVG (solo hay un SVG: icono carrito)*/
}

/* a: links */
a{
    text-decoration: none; /* Borrar subrayado */
    /* color: aliceblue; */ /* por definir */
    cursor: pointer; /* Cambiar cursor sobre icono */
}

/* button: Botones (Cerrar, Finalizar) - .icon-cart: icono carrito */
button{
    cursor: pointer; /*Cambiar cursor sobre botones*/
}

/* Configuracion del container (global):
    -El width se ajusta a 900px para evitar que se estire hasta los bordes > 900px
    -El max-width se ajusta a un 95% del ancho visible en pantalla (ancho max 900px)
    -El margin es definido automatico para dividir el espacio sobrante de manera equitativa en el lado derecho e izquierdo
    -El texto es tiene una alineacion central predeterminada
    -El padding-top es 10px fijo 
    (OPC) - Agregar delay de 0.5s (o mas) al cambiar (usuario) el width del contenedor
*/
.container {
    width: 900px;
    max-width: 80vw;
    margin: auto;
    text-align: center;
    padding-top: 1em;
    /* transition: 0.5s; */

}

/* Configuracion de la barra principal:
    -Display: flex permite mover la posicion de los elementos (boton pagina principal/icono carrito)
    -Se genera un espacio entre los elementos con el width restante
    -Los elementos tienen una alineacion central predeterminada
    (OPC) -padding-top 10px fijo
*/
header{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Configuracion del "boton" 'Volver a pagina principal':
    -La imagen SVG tendra una posicion relativa para poder posicionar el display de items sobre ella (posicion absoluta)
*/


/* Configuracion del icono del carrito:
    -Posicionado 10px a la izquierda (Mejora visibilidad a menor width)
    -La imagen SVG tendra una posicion relativa para poder posicionar el display de items sobre ella (posicion absoluta)

    -El contenedor del display de items tendra un fondo rojo (Simular efecto de notificacion)
    -Se aplica flex al contenedor del display (para centrar contenido) y se posiciona en la parte superior derecha del icono SVG. Borde del 50% (circular)
*/
.icon-cart{
    right: 10px;
    position: relative;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    top: 0%;
    right: -10px;
    width: 20px;    
    height: 20px;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Configuracion contenedor del carrito:
    -fuente color blanco, fondo "azul marino"
    -Posicion fija a la ventana del navegador (o mobile) en posicion 0, 0, 0derecha
    -Display de grid para separar los elementos, se dividen los en 3 filas con tamaños distintos segun su posicion: titulo (50px), items del contenedor (1fr - restante), botones (50px compartidos)

    -El titulo tendra un padding a la izquierda/arriba de 10px y no tendra margin
    (OPC) -Aplicar padding global de 20px

    -Aplicar overflow automatico a la lista de productos, si se agregan muchos (excediendo la altura maxima 300px (1fr-50px-50px) aparecera una barra de desplazamiento para navegar productos)
    -Tamaño de la barra de desplazamiento reducido a 0 para mejor visualizacion

    -Display grid para separar los botones y en 2 columnas distintas de igual tamaño cada una (1fr)
        -El borde de cada boton es eliminado, su fondo es distinto y su fuente en negrita (bold)    -   NOTA: EL TAMAÑO DE EL BOTON CERRAR X2 FINALIZAR
*/
.cartContainer{
    background-color: #00204a;
    color: white;
    width: 300px;
    max-width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
}
.cartContainer h1{
    /* padding-top: 10px;
    padding-left: 20px; */
    font-size:medium;
    padding: 20px;
    margin: 0
}
.cartContainer .cartList{
    overflow: auto;
}
/* Tamaño de barra de desplazamiento al minimo */
.cartContainer .cartList::-webkit-scrollbar{
    width: 0;
}
.cartContainer .btn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.cartContainer .btn .btn-close{
    background-color: rgb(52, 100, 204);
    border: none;
    font-weight: bold;
}
.cartContainer .btn .btn-finish{
    background-color: rgb(186, 221, 245);
    border: none;
    font-weight: bold;
}

/* Configuracion abrir/cerrar carrito:
    -Barra movida a la derecha 400px (oculta completamente) de forma predeterminada
    -Contenido del contenedor principal movido 250px a la izquierda al abrir el carrito
*/
.cartContainer{
    right:-400px;
}
body.cartContainerON .cartContainer{
    right: 0;
    transition: 0.5s;
}
body.cartContainerON .container{
    transform: translateX(-250px);
    transition: 0.5s;
}

/* body.cartContainerON footer{
    transform: translateX(-250px);
    transition: 0.5s;
}*/

/* El contenido del pie de pagina sobrepone al del carrito de compras, por lo tanto al tener abierto el carrito el pie de pagina no sera visible */
body.cartContainerON footer{
    visibility: hidden;
}

/* Posible cambiar numero de columnas, espacio top,bot,left,right entre productos (individual o global) */
.productsList{
    /* Posible cambiar numero de columnas, espacio top,bot,left,right entre productos (individual o global) */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* gap: 50px; */ /* gap global */
    row-gap: 10px;
    padding:1em 0 1em 0;
}

.productsList .item img{
    width: 80%; /* width */
    /* Posible cambiar width, agregar fondo, sombra */
    /* filter: drop-shadow(...); */ /* sombra */
}
.productsList .item h2{
    font-size: 70%;
    /* Posible cambiar fuente, fondo para titulos, size */
}
.productsList .item button{
    background-color: #2F2F2F;
    justify-content: center;
    align-items: center;
    color: #eee;
}

/* TEST 1: MODIFICAR Y EXPLICAR -  Productos en el carrito */
.cartList .item img{
    width: 100%;
}
.cartList .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.cartList .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.cartList .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.cartList .quantity{
    display: flex;
}
.cartList .item:nth-child(even){
    background-color: #eee1;
}

/* TEST 1: MODIFICAR Y EXPLICAR -   Ventana de detalles de productos */

.detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    text-align: left;
    padding-top: 2em;
}
.detail .image img{
    width: 80%;
}
.detail .image{
    position: relative;
}
.detail .name{
    font-size: xxx-large;
    padding: 40px 0 0 0;
    margin: 0 0 10px 0;
}
.detail .buttons{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.detail .buttons button{
    background-color: #eee;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    font-family: Poppins;
    font-size: large;
}
.detail .buttons svg{
    width: 15px;
}
.detail .buttons span{
    background-color: #555454;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 20px;
}
.detail .buttons button:nth-child(2){
    background-color: #2F2F2F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    box-shadow: 0 10px 20px #2F2F2F77;
}
.detail .description{
    font-weight: 300;
    padding: 20px 0 20px 20px;
}

/* Footer */
#footer{
    /* 
    POSICION
    */
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-top: 1em;
    padding-bottom: 2em;
    background-color:bisque;
    text-align: center;
    border-image-repeat:stretch;
}

#footer .copyright {
    background-color: bisque;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9em;
    padding-bottom:1em;
    text-align: center;
    align-items: center;
    border-bottom: none;
    font-weight: 700;
    text-decoration: none;
}

#footer ul{
display: flex;
justify-content:center;
column-gap: 10px;
align-items: center;
list-style: none;
padding-inline-start:0px;
}

#footer ul .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color: green;
    text-transform: none !important;
    font-size: 1.5em;
    display: block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
}

#footer ul .icon > .label {
    display: none;
}

#footer ul .icon{
    display: block;
    border-radius: 100%;
    margin: 0;
    padding: 0.5em;
    border: solid 1px green;
    color: rgba(132, 233, 132, 0.25);
}

#footer ul a:hover {
    background-color:burlywood ;
    color: #FFF;
}

/* desktop */
@media only screen and (max-width: 992px) {
    .productsList{
        grid-template-columns: repeat(3, 1fr);
    }
    .detail{
        grid-template-columns:  40% 1fr;
    }
}

/* mobile */
@media only screen and (max-width: 767px) {
    .productsList{
        grid-template-columns: repeat(2, 1fr);
    }
    .detail{
        text-align: center;
        grid-template-columns: 1fr;
    }
    /* .detail .image img{
        width: unset;
        height: 40vh;
    }  */
    .detail .name{
        font-size: x-large;
        margin: 0;
    }
    .detail .buttons button{
        font-size: small;
    }
    .detail .buttons{
        justify-content: center;
    }
}

@media only screen and (max-width: 300px) {
    .productsList{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer ul{
        grid-template-columns: repeat(2, 1fr); 
    }
}